# Build outputs & dependencies
node_modules/
build/
dist/
*.exe
*.pkg
*.msi
*.dmg
*.app
*.apk
*.aab
*.jar

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
env/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# IDEs & Editors
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.swp
*.swo

# Environment & Logs
.env
*.log

# OS Junk
.DS_Store
Thumbs.db
